.container {
  background-image: url("https://imgur.com/hFqt3ih.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  margin-top: 4rem;

  border: none;
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  width: 496px;
  border-radius: 4px;
}
